<suite name="SeleniumMavenSuite">
    <test name="LoginTestsSalesforce">
        <classes>
            <class name="tests.SalesforceLoginTest"/>
        </classes>
    </test>
    
    <test name="LoginTests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>